<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/main.css" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"
	</head>

	<body class="bg-color">
		<div class="whole">
			<nav>
				<div class="inner-nav" id="menu">
					<div id="menu" class="menu-button fl-l cl-n">
						<i class="fas fa-lg fa-bars"></i>
					</div>

					<h3 id="menu-word" class="f-w-800 fl-l">MENU</h3>
				</div>

				<h3 class="upper m-l-10">StackOverflow-Lite </h3>

				
			</nav>

				  <div id="closer" class="close hide">
				  	&#xd7;
				  </div>

  

      <div class="menubody not-visible" id="bodyMenu" >
        <ul>
          <li class="menu-item" ><a class="active">Home</a></li>
          <li class="menu-item" ><a>Search</a></li>
            <li class="menu-item" ><a>Account</a></li>
            

        </ul>
      </div>


      <h2 class="title themecolor-text">Profile</h2>

      <div class="profile-box">
      	<div class="profile-image">
      		<img src="../images/one.jpg">
      	</div>

      	<hr />

      	<div class="profile-details">
      		<p class="prof-label">Full name</p> <p class="prof-deet">Mike Chan</p>
      		<p class="prof-label">Username</p> <p class="prof-deet">Mikey</p>
      		<p class="prof-label">Email</p> <p class="prof-deet">mikechan@gmail.com</p>
      		<p class="prof-label">Questions asked</p> <p class="prof-deet">52</p>
      		<p class="prof-label">Answers given</p> <p class="prof-deet">11</p>
      	</div>

      	

  </div>
</body>
<script type="text/javascript" src="../js/main.js"></script>
</html>